:root {
  --clr-primary: #f7c33f;
  --clr-secondary: #333333;
  --clr-tertiary: #666666;
  --clr-white: #ffffff;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.button-primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
.button-primary:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}
.button-secondary {
  background-color: var(--clr-white);
  color: var(--clr-secondary);
}
.button-secondary:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/header.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--clr-white);
}
.hero-text-box h1 {
  font-size: 56px;
}
.hero-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 860px) {
  .hero-text-box {
    left: 0;
    transform: translate(0, -50%);
  }
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-white);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 20px 0;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 60px;
  width: 120px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.nav-wrapper .main-list-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-wrapper .main-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-wrapper .main-list li a {
  color: var(--clr-secondary);
  font-weight: 600;
}
.nav-wrapper .main-list li a:hover {
  color: var(--clr-primary);
}
.menu-toggle {
  display: none;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  transform: translateX(-100%);
  z-index: 2;
}
.mobile-nav.active {
  transform: translateX(0);
}
.mobile-nav-top {
  width: 100%;
}
.mobile-nav-top .top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mobile-nav-close {
  width: 28px;
  height: 28px;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.mobile-nav-list li {
  padding: 20px 0;
}
.mobile-nav-list li a {
  color: var(--clr-secondary);
  font-weight: 600;
}

@media only screen and (max-width: 860px) {
  .nav-wrapper .main-list-wrapper {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}
